.cartContainer {
  position: relative;
  display: flex;
  cursor: pointer;
}
.cartContainer:hover {
  color: var(--colorSecundario);
}

.cartNumber {
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(227, 8, 8);
  position: absolute;
  top: -20px;
  right: -15px;
}
