.loader {
  width: 100%;
  height: 150px;
  text-align: center;
}

.homeIntro {
  background-image: url("../../../public/img/comedor-moderno-3d-sala-estar-decoracion-lujo.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  position: relative;
}

.homeIntro h1,
.homeIntro p {
  position: relative;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  border-radius: 5px;
  color: rgb(63, 59, 52);
}

.homeIntro h1 {
  font-size: 42px;
  top: 50px;
  background-color: rgba(167, 153, 146, 0.926);
}

.homeIntro p {
  font-size: 20px;
  font-weight: bold;
  top: 70px;
  background-color: #ecebe5d5;
}

.featured {
  margin: 40px auto;
  width: fit-content;
  font-weight: 500;
}

.featured-section {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
  gap: 30px;
  padding: 0 10%;
  margin-bottom: 40px;
}

.divider {
  margin: 20px 0;
  height: 5px;
  width: 100%;
  background-color: rgb(161, 141, 111);
}

.hashtag {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.decoGalleryP {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 180px);
  gap: 10px;
  width: 90%;
  margin: 0 auto 40px;
}

.grid-item {
  height: 180px;
  aspect-ratio: 1/1;
  justify-self: center;
}

@media (max-width: 1200px) {
  .featured-section {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 0 7%;
  }
}
@media (max-width: 900px) {
  .featured-section {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 0 20px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 180px);
    width: 75%;
  }
}

@media (max-width: 768px) {
  .homeIntro h1 {
    font-size: 36px;
  }
  .featured-section {
    grid-template-columns: 300px;
    justify-content: center;
    padding: 0;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 180px);
    width: 95%;
  }
}
