li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  /* background-color: var(--colorBg); */
  background-color: #e4e3e1ef;
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
}

.header__top--left,
.header__top--right {
  display: flex;
  gap: 20px;
  width: 20%;
  align-items: center;
}

.header__top--logo {
  font-size: 50px;
  color: var(--fontColor);
}

.header__top--right {
  justify-content: end;
}

.header__divider {
  width: 100%;
  border-bottom: 5px solid rgb(139, 123, 116);
  border-bottom: 2px solid rgb(197, 182, 175);
}

.navBar {
  display: flex;
  place-content: center;
  /* background-color: var(--colorBg); */
}

.navLinks {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.navLink a {
  color: var(--fontColor);
  font-size: 22px;
  /* font-weight: bold; */
}

.navLink a:hover {
  font-weight: bold;
  cursor: pointer;
  color: var(--colorSecundario);
}

nav a.active {
  font-weight: bold;
  color: var(--colorSecundario);
  /* text-decoration: underline; */
  border-bottom: 3px solid var(--colorSecundario);
  padding: 2px;
  text-shadow: 1px 2px 2px rgb(192, 186, 181);
}
