* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --colorPrincipal: #749f82;
  --colorSecundario: rgb(161, 141, 111);
  --colorHover: #64ad75;
  --colorBg: #ecebe5;
  --fontColor: rgb(167, 153, 146);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorBg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
