.itemCount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.counter {
  display: flex;
  gap: 20px;
  align-items: center;
}

.counterBtn {
  border: none;
  background-color: #749f82;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
}

.counterBtn:hover {
  cursor: pointer;
  background-color: var(--colorHover);
  border: 2px solid rgba(92, 92, 92, 0.679);
}

.countNum {
  font-size: 20px;
  font-weight: bold;
}
